extends layout

block content
    h1 Dove #GirlsUnstoppable Moderation

    script
        var id = $('#id').val();
        $('approve').bind('click', function() { document.location = 'approve/' + id } );

    if !tweets.length
        h3 Nothing to moderate --have a beer!

    each tweet in tweets
        div
            <iframe class="vine-embed" src="#{tweet.vine_url}/embed/postcard" width="300" height="300" frameborder="0"></iframe><script async src="//platform.vine.co/static/scripts/embed.js" charset="utf-8"></script>
        input#id(type="hidden", value=tweet._id)
        <a href="/approve/#{tweet._id}" class="btn btn-success">Approve for site</a>
        <a href="/deny/#{tweet._id}" class="btn btn-warning">Deny this vine</a>
